/* root rules */
:root {
  font-size: 10px;
}

/* base rules */
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 1.6rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* accordion */
.accordion {
  max-width: 50rem;
  margin: 0 auto;
}

/* item */
.accordion__item {
  border-top: 1px solid #000;
}

.accordion__content {
  cursor: pointer;
}

.accordion__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordion__text {
  font-weight: 900;
}

/* input */
.accordion__input {
  width: 0;
  height: 0;
  appearance: none;
  display: none;
}

/* image */
.accordion__image {
  height: 0rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: all 0.2s ease;
}

.accordion__image > img {
  transition: all 0.1s ease-in-out;
  scale: 0;
  margin: 0px auto;
  display: block;
  height: 20rem;
}

/* cross style */
.cross {
  width: 1.4rem;
  height: 1.4rem;
}

.cross__item-1,
.cross__item-2 {
  display: block;
  width: 1.4rem;
  border-radius: 30%;
  height: 0.4rem;
  background-color: black;
  transition: all 0.1s ease;
}
.cross__item-1 {
  rotate: 90deg;
  translate: 0 4px;
}
.cross__item-2 {
  rotate: 0deg;
}

.accordion__content:hover,
.accordion__input:checked ~ .accordion__content {
  color: teal;
}

.accordion__input:checked ~ .accordion__content .accordion__image,
.accordion__input:hover ~ .accordion__content .accordion__image {
  height: 20rem;
}

.accordion__input:checked ~ .accordion__content .accordion__image img,
.accordion__input:hover ~ .accordion__content .accordion__image img {
  scale: 1;
  opacity: 1;
  visibility: visible;
}

.accordion__input:checked ~ .accordion__content .cross__item-1,
.accordion__input:hover ~ .accordion__content .cross__item-1,
.cross:hover .cross__item-1 {
  rotate: 45deg;
  background-color: teal;
}
.accordion__input:checked ~ .accordion__content .cross__item-2,
.accordion__input:hover ~ .accordion__content .cross__item-2,
.cross:hover .cross__item-2 {
  rotate: -45deg;
  background-color: teal;
}
